  <div class="photo">
    <%= link_to image_tag(photo.photo.url(:mini)), photo.photo.url(:original) %><br>
    <%=h photo.photo_file_name %> | <%= link_to 'Destroy', photo, :confirm => 'Are you sure?', :method => :delete %>
  </div>